
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark_blue: hsl(249, 10%, 26%);
    --grayish_blue: hsl(246, 25%, 77%);
    --white: hsl(334, 30%, 95%);
    font-size: 16px;

    body {
        display table-layout: 100%;
        font-family: 'Poppins', sans-serif;
        color: var(--white);
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-image: url("./images/favicon-32x32.png");
        background-color: var(--red);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

h1,
h2,
h3,
p,
a,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form,
{
    box-shadow: 1px 10px 2px -3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 10px 2px -3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 10px 2px -3px rgba(0, 0, 0, 0.15);
}

input {
    text-align: start;
    padding: 1.2rem;
    border: 1px var(--grayish_blue) solid;
    margin-bottom: clamp(10px, 1vw, 15px);
    color: var(--dark_blue);
    font-weight: 500;
}